In [32]:
import bs4 as bs
import urllib.request
import pandas as pd
import re
import datetime
import pymysql

### 1. Data Scraping

#### url 입력 (자료가 있는 정례브리핑 url 주소 입력)

In [10]:
url = urllib.request.urlopen(input()).read()
#soup = bs.BeautifulSoup(url, 'lxml')

http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354155&contSeq=354155&board_id=&gubun=ALL

#### pandas를 이용한 table scraping

In [86]:
dfs = pd.read_html(url, encoding = "utf-8", header=0)

#### domestic_check table에 들어갈 내용 scraping

In [88]:
column = dfs[0].columns
date = dfs[0][column[1]][2]
regex = re.compile(r'\d.')
date_group = regex.findall(date)

for i in range(0, len(date_group)):
    date_group[i] = int(re.sub("[^\d]", "", date_group[i]))
    
report_day = datetime.datetime(2020,date_group[0],date_group[1])
report_day_str = report_day.strftime('%Y-%m-%d')

check = []

for i in range(2, 9):
    check.append(int(dfs[0][column[i]][2]))
check.append(int(dfs[0][column[3]][3].replace("(+)", "")\
                                          .replace("(-)", "-")\
                                          .replace(",", "")))
check.append(int(dfs[0][column[4]][3].replace("(+)", "")\
                                          .replace("(-)", "-")\
                                          .replace(",", "")))
check.insert(0, report_day_str)
check

['2020-04-21', 571014, 10683, 8213, 2233, 237, 12721, 547610, 9, 99]

#### domestic_sid table에 들어갈 내용 scraping

In [13]:
column = dfs[1].columns
sid = []

for i in range(0, 3):
    list_temp = []
    for j in range(1, len(column)):
        list_temp.append(int(dfs[1][column[j]][i]))
    if i == 0 : list_temp.insert(0, "under quarantine")
    elif i == 1 : list_temp.insert(0, "end quarantine")
    elif i == 2 : list_temp.insert(0, "death")
    list_temp.insert(0, report_day_str)
    sid.append(list_temp)
sid

[['2020-04-21',
  'under quarantine',
  2233,
  309,
  14,
  878,
  36,
  8,
  13,
  7,
  17,
  246,
  21,
  6,
  18,
  8,
  7,
  238,
  28,
  7,
  372],
 ['2020-04-21',
  'end quarantine',
  8213,
  315,
  115,
  5793,
  56,
  22,
  26,
  35,
  29,
  398,
  30,
  39,
  123,
  9,
  8,
  1072,
  88,
  6,
  49],
 ['2020-04-21',
  'death',
  237,
  2,
  3,
  164,
  0,
  0,
  0,
  1,
  0,
  14,
  2,
  0,
  0,
  0,
  0,
  51,
  0,
  0,
  0]]

#### domestic_group table에 들어갈 내용 scraping

In [65]:
location = ["Seoul", "Busan", "Daegu", "Incheon",
 "Gwangju", "Daejeon", "Ulsan", "Sejong",
 "Gyeonggi", "Gangwon", "Chungbuk", "Chungnam",
 "Jeonbuk", "Jeonnam", "Gyeongbuk", "Gyeongnam", "Jeju", "Quarantine"]
column = dfs[2].columns
group = []

for i in range(2, 20):
    list_temp = []
    for j in range(1, 12):
        list_temp.append(int(dfs[2][column[j]][i]))
    list_temp.insert(0, location[i-2])
    list_temp.insert(0, report_day_str)
    list_temp.pop(5)
    list_temp.pop(10)
    group.append(list_temp)
group

[['2020-04-21', 'Seoul', 626, 245, 357, 8, 262, 18, 69, 24, 2],
 ['2020-04-21', 'Busan', 132, 20, 82, 12, 50, 19, 1, 30, 0],
 ['2020-04-21', 'Daegu', 6835, 17, 6097, 4510, 661, 922, 4, 721, 2],
 ['2020-04-21', 'Incheon', 92, 41, 47, 2, 34, 5, 6, 4, 0],
 ['2020-04-21', 'Gwangju', 30, 14, 16, 9, 0, 1, 6, 0, 0],
 ['2020-04-21', 'Daejeon', 39, 9, 21, 2, 11, 8, 0, 9, 0],
 ['2020-04-21', 'Ulsan', 43, 12, 24, 16, 1, 4, 3, 7, 0],
 ['2020-04-21', 'Sejong', 46, 3, 42, 1, 38, 3, 0, 1, 0],
 ['2020-04-21', 'Gyeonggi', 658, 152, 465, 29, 318, 56, 62, 41, 2],
 ['2020-04-21', 'Gangwon', 53, 14, 32, 17, 15, 0, 0, 7, 0],
 ['2020-04-21', 'Chungbuk', 45, 5, 32, 6, 18, 6, 2, 8, 0],
 ['2020-04-21', 'Chungnam', 141, 11, 120, 0, 118, 1, 1, 10, 0],
 ['2020-04-21', 'Jeonbuk', 17, 8, 4, 1, 3, 0, 0, 5, 0],
 ['2020-04-21', 'Jeonnam', 15, 7, 7, 1, 3, 2, 1, 1, 0],
 ['2020-04-21', 'Gyeongbuk', 1361, 10, 1217, 566, 460, 191, 0, 134, 0],
 ['2020-04-21', 'Gyeongnam', 116, 14, 84, 32, 45, 6, 1, 18, 0],
 ['2020-04-21', 'Jeju', 13, 8, 1, 0, 0, 0, 1, 4, 0],
 ['2020-04-21', 'Quarantine', 421, 421, 0, 0, 0, 0, 0, 0, 3]]

### 2. PYTHON과 MYSQL 연동

In [78]:
conn = pymysql.connect(host = '192.168.0.2', user = 'vanillapapaya',
                      password = 'qhans7810!', db = 'covid',
                      charset = 'utf8')
curs = conn.cursor()

#### domestic_check에 column 추가

In [79]:
query = """

        INSERT INTO domestic_check(Date, Total, Positive, EndQuarantine, UnderQuarantine, Death,
                               UnderExamination, Negative, NewPositive, NewEndQuarantine)
        VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        
"""

curs.execute(query, check)

1

#### domestic_sid에 column 추가

In [80]:
query = """

        INSERT INTO domestic_sid(Date, Type, Total, Seoul, Busan, Daegu, Incheon, Gwangju, Daejeon,
                               Ulsan, Sejong, Gyeonggi, Gangwon, Chungbuk, Chungnam, Jeonbuk, Jeonnam,
                               Gyeongbuk, Gyeongnam, Jeju, Quarantine)
        VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

"""
curs.executemany(query, sid)

3

#### domestic_group에 column 추가

In [81]:
query = """

        INSERT INTO domestic_group(Date, Location, Total, ForeignInflow, GroupTotal, 
                                    Shincheonji, GroupCases, PersonsInContact, ForeignGroupInflow, Other, New)
        VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

"""
curs.executemany(query, group)

18

#### 변경된 내용 확인

In [84]:
query = """

    SELECT *
        FROM domestic_check

"""

df = pd.read_sql(query, conn)
df

,index,Date,Positive,EndQuarantine,UnderQuarantine,Death,UnderExamination,Negative,Total,NewPositive,NewEndQuarantine
0,0.0,2020-01-21,1,0,1,0,3,7,11,0,0
1,1.0,2020-01-24,2,0,2,0,0,25,27,1,0
2,2.0,2020-01-26,3,0,3,0,1,47,51,1,0
3,3.0,2020-01-27,4,0,4,0,1,56,61,1,0
4,4.0,2020-01-30,6,0,6,0,41,199,246,2,0
...,...,...,...,...,...,...,...,...,...,...,...
81,81.0,2020-04-17,10635,7829,2576,230,14186,521642,546463,22,72
82,82.0,2020-04-18,10653,7937,2484,232,13550,530631,554834,18,108
83,83.0,2020-04-19,10661,8042,2385,234,12243,536205,559109,8,105
84,84.0,2020-04-20,10674,8114,2324,236,11981,540380,563035,13,72
85,NaN,2020-04-21,10683,8213,2233,237,12721,547610,571014,9,99

#### QUERY 실행을 완료한 후 MYSQL에 최종 적용

In [85]:
conn.commit()