In [1]:
import bs4 as bs
import urllib.request
import pandas as pd
import re
import datetime
import pymysql

### 1. Data Scraping

#### url 입력 (자료가 있는 정례브리핑 url 주소 입력)

In [16]:
url = urllib.request.urlopen(input()).read()
#soup = bs.BeautifulSoup(url, 'lxml')

http://ncov.mohw.go.kr/tcmBoardView.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=354284&contSeq=354284&board_id=&gubun=ALL

#### pandas를 이용한 table scraping

In [17]:
dfs = pd.read_html(url, encoding = "utf-8", header=0)

#### 들쑥날쑥한 Column 수를 맞춰주기 위한 추가 코드

In [18]:
if len(dfs[0].columns) == 9 :
    dfs[0].drop(columns=dfs[0].columns[0], inplace = True)
    
dfs[0]

               구분.1        총계  결과 양성 결과 양성.1 결과 양성.2 결과 양성.3    검사 중     결과 음성
0                구분        총계    확진자    격리해제    격리 중      사망    검사 중     결과 음성
1  4. 28.(화)  0시 기준    608514  10752    8854    1654     244    9203    588559
2  4. 29.(수)  0시 기준    614197  10761    8922    1593     246    8307    595129
3                변동  (+)5,683   (+)9   (+)68   (-)61    (+)2  (-)896  (+)6,570

#### domestic_check table에 들어갈 내용 scraping

In [19]:
column = dfs[0].columns
date = dfs[0][column[0]][2]
regex = re.compile(r'\d.')
date_group = regex.findall(date)

for i in range(0, len(date_group)):
    date_group[i] = int(re.sub("[^\d]", "", date_group[i]))
    
report_day = datetime.datetime(2020,date_group[0],date_group[1])
report_day_str = report_day.strftime('%Y-%m-%d')

check = []

for i in range(1, 8):
    check.append(int(dfs[0][column[i]][2]))
check.append(int(dfs[0][column[2]][3].replace("(+)", "")\
                                          .replace("(-)", "-")\
                                          .replace(",", "")))
check.append(int(dfs[0][column[3]][3].replace("(+)", "")\
                                          .replace("(-)", "-")\
                                          .replace(",", "")))
check.insert(0, report_day_str)
check

['2020-04-29', 614197, 10761, 8922, 1593, 246, 8307, 595129, 9, 68]

#### domestic_sid table에 들어갈 내용 scraping

In [20]:
column = dfs[1].columns
sid = []

for i in range(0, 3):
    list_temp = []
    for j in range(1, len(column)):
        list_temp.append(int(dfs[1][column[j]][i]))
    if i == 0 : list_temp.insert(0, "under quarantine")
    elif i == 1 : list_temp.insert(0, "end quarantine")
    elif i == 2 : list_temp.insert(0, "death")
    list_temp.insert(0, report_day_str)
    sid.append(list_temp)
sid

[['2020-04-29',
  'under quarantine',
  1593,
  194,
  18,
  606,
  27,
  4,
  5,
  5,
  10,
  180,
  14,
  5,
  20,
  8,
  5,
  180,
  20,
  5,
  287],
 ['2020-04-29',
  'end quarantine',
  8922,
  437,
  116,
  6075,
  66,
  26,
  35,
  37,
  36,
  481,
  37,
  40,
  123,
  10,
  10,
  1133,
  97,
  8,
  155],
 ['2020-04-29',
  'death',
  246,
  2,
  3,
  171,
  0,
  0,
  0,
  1,
  0,
  15,
  2,
  0,
  0,
  0,
  0,
  52,
  0,
  0,
  0]]

#### domestic_group table에 들어갈 내용 scraping

In [21]:
location = ["Seoul", "Busan", "Daegu", "Incheon",
 "Gwangju", "Daejeon", "Ulsan", "Sejong",
 "Gyeonggi", "Gangwon", "Chungbuk", "Chungnam",
 "Jeonbuk", "Jeonnam", "Gyeongbuk", "Gyeongnam", "Jeju", "Quarantine"]
column = dfs[2].columns
group = []

for i in range(2, 20):
    list_temp = []
    for j in range(1, 12):
        list_temp.append(int(dfs[2][column[j]][i]))
    list_temp.insert(0, location[i-2])
    list_temp.insert(0, report_day_str)
    list_temp.pop(5)
    list_temp.pop(10)
    group.append(list_temp)
group

[['2020-04-29', 'Seoul', 633, 252, 357, 8, 262, 18, 69, 24, 0],
 ['2020-04-29', 'Busan', 137, 24, 84, 12, 53, 18, 1, 29, 0],
 ['2020-04-29', 'Daegu', 6852, 20, 6108, 4510, 665, 929, 4, 724, 3],
 ['2020-04-29', 'Incheon', 93, 41, 48, 2, 34, 5, 7, 4, 0],
 ['2020-04-29', 'Gwangju', 30, 14, 16, 9, 0, 1, 6, 0, 0],
 ['2020-04-29', 'Daejeon', 40, 10, 21, 2, 11, 8, 0, 9, 0],
 ['2020-04-29', 'Ulsan', 43, 12, 24, 16, 1, 4, 3, 7, 0],
 ['2020-04-29', 'Sejong', 46, 3, 42, 1, 38, 3, 0, 1, 0],
 ['2020-04-29', 'Gyeonggi', 676, 163, 470, 29, 322, 57, 62, 43, 2],
 ['2020-04-29', 'Gangwon', 53, 14, 32, 17, 15, 0, 0, 7, 0],
 ['2020-04-29', 'Chungbuk', 45, 5, 32, 6, 18, 6, 2, 8, 0],
 ['2020-04-29', 'Chungnam', 143, 13, 120, 0, 118, 1, 1, 10, 1],
 ['2020-04-29', 'Jeonbuk', 18, 9, 4, 1, 3, 0, 0, 5, 0],
 ['2020-04-29', 'Jeonnam', 15, 7, 5, 1, 1, 2, 1, 3, 0],
 ['2020-04-29', 'Gyeongbuk', 1365, 10, 1221, 566, 463, 192, 0, 134, 0],
 ['2020-04-29', 'Gyeongnam', 117, 14, 85, 32, 46, 6, 1, 18, 0],
 ['2020-04-29', 'Jeju', 13, 8, 1, 0, 0, 0, 1, 4, 0],
 ['2020-04-29', 'Quarantine', 442, 442, 0, 0, 0, 0, 0, 0, 3]]

### 2. PYTHON과 MYSQL 연동

In [22]:
conn = pymysql.connect(host = '192.168.0.2', user = 'vanillapapaya',
                      password = 'qhans7810!', db = 'covid',
                      charset = 'utf8')
curs = conn.cursor()

#### domestic_check에 column 추가

In [23]:
query = """

        INSERT INTO domestic_check(Date, Total, Positive, EndQuarantine, UnderQuarantine, Death,
                               UnderExamination, Negative, NewPositive, NewEndQuarantine)
        VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        
"""

curs.execute(query, check)

1

#### domestic_sid에 column 추가

In [24]:
query = """

        INSERT INTO domestic_sid(Date, Type, Total, Seoul, Busan, Daegu, Incheon, Gwangju, Daejeon,
                               Ulsan, Sejong, Gyeonggi, Gangwon, Chungbuk, Chungnam, Jeonbuk, Jeonnam,
                               Gyeongbuk, Gyeongnam, Jeju, Quarantine)
        VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

"""
curs.executemany(query, sid)

3

#### domestic_group에 column 추가

In [25]:
query = """

        INSERT INTO domestic_group(Date, Location, Total, ForeignInflow, GroupTotal, 
                                    Shincheonji, GroupCases, PersonsInContact, ForeignGroupInflow, Other, New)
        VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

"""
curs.executemany(query, group)

18

#### 변경된 내용 확인

In [26]:
query = """

    SELECT *
        FROM domestic_group

"""

df = pd.read_sql(query, conn)
df

,index,Date,Location,Total,ForeignInflow,GroupTotal,Shincheonji,GroupCases,PersonsInContact,ForeignGroupInflow,Other,New
0,0.0,2020-03-25,Seoul,347,58,259,7,194,35,23,30,13
1,1.0,2020-03-25,Busan,112,2,76,11,49,16,0,34,1
2,2.0,2020-03-25,Daegu,6456,2,5427,4387,321,719,0,1027,14
3,3.0,2020-03-25,Incheon,42,6,34,2,27,3,2,2,1
4,4.0,2020-03-25,Gwangju,19,4,14,9,0,2,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
643,NaN,2020-04-29,Jeonnam,15,7,5,1,1,2,1,3,0
644,NaN,2020-04-29,Gyeongbuk,1365,10,1221,566,463,192,0,134,0
645,NaN,2020-04-29,Gyeongnam,117,14,85,32,46,6,1,18,0
646,NaN,2020-04-29,Jeju,13,8,1,0,0,0,1,4,0
647,NaN,2020-04-29,Quarantine,442,442,0,0,0,0,0,0,3

#### QUERY 실행을 완료한 후 MYSQL에 최종 적용

In [27]:
conn.commit()