### Covid-19 EDA

In [1]:
import pandas as pd

%matplotlib inline

import seaborn as sns

import matplotlib.pyplot as plt

import matplotlib

from matplotlib import rc

In [16]:
case = pd.read_csv("data/dacon/Case.csv")
policy = pd.read_csv("data/dacon/Policy.csv")
region = pd.read_csv("data/dacon/Region.csv")
search_trend = pd.read_csv("data/dacon/SearchTrend.csv")
seoul_floating = pd.read_csv("data/dacon/SeoulFloating.csv")
weather = pd.read_csv("data/dacon/Weather.csv")

In [15]:
case.pivot_table(index = ["province", "city"], values = "confirmed")

                          confirmed
province city
Busan    -                24.000000
         Dongnae-gu       39.000000
         Haeundae-gu       6.000000
         Jin-gu            4.000000
         Suyeong-gu        5.000000
...                             ...
Seoul    Jung-gu           7.000000
         Seongdong-gu     13.000000
         from other city   8.000000
Ulsan    -                 8.666667
         from other city  16.000000

[65 rows x 1 columns]